@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face{
    font-family:'amairafic';
    src:url(https://ficha.amaira.com.ar/nue/css/fonts/amairafic.eot?25386081);
    src:url(https://ficha.amaira.com.ar/nue/css/fonts/amairafic.eot?25386081#iefix) format("embedded-opentype"), url(https://ficha.amaira.com.ar/nue/css/fonts/amairafic.woff2?25386081) format("woff2"),url(https://ficha.amaira.com.ar/nue/css/fonts/amairafic.woff?25386081) format("woff"),url(https://ficha.amaira.com.ar/nue/css/fonts/amairafic.ttf?25386081) format("truetype"),url(https://ficha.amaira.com.ar/nue/css/fonts/amairafic.svg?25386081#amairafic) format("svg");font-weight:400;font-style:normal
}

[class^="mlm-"]:before,
[class*=" mlm-"]:before{
    font-family:"amairafic";
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

.mlm-agua-caliente-central:before,
.mlm-prevision-panel-solar-agua-caliente:before{
    content:'\e800'
}

.mlm-agua-corriente:before{
    content:'\e801'
}

.mlm-aire-acondicionado:before{
    content:'\e802'
}
.mlm-alarma:before{content:'\e803'}

.mlm-altillo:before{content:'\e804'}

.mlm-amoblado:before{content:'\e805'}

.mlm-apto-familias-ninos:before,
.mlm-accesibilidad-universal:before{content:'\e806'}

.mlm-area-comercial:before,
.mlm-local-comercial:before{content:'\e807'}

.mlm-ascensor-servicio:before{content:'\e808'}

.mlm-ascensor:before{content:'\e809'}

.mlm-azotea:before{content:'\e80a'}

.mlm-balanza:before{content:'\e80b'}

.mlm-balcon:before{content:'\e80c'}

.mlm-barbacoa:before,
.mlm-barbacoa-comun:before{content:'\e80d'}

.mlm-biblioteca:before{content:'\e80f'}

.mlm-bodega:before{content:'\e810'}

.mlm-box:before{content:'\e812'}

.mlm-bungalow:before{content:'\e813'}

.mlm-caldera:before{content:'\e814'}

.mlm-calefaccion-central:before{content:'\e815'}

.mlm-calefaccion-individual:before{content:'\e816'}

.mlm-calefaccion:before{content:'\e817'}

.mlm-cancha-basquet:before{content:'\e819'}

.mlm-cancha-bochas:before{content:'\e81a'}

.mlm-cancha-deportes:before{content:'\e81b'}

.mlm-cancha-futbol:before{content:'\e81c'}

.mlm-cancha-golf:before{content:'\e81d'}

.mlm-cancha-hockey:before{content:'\e81e'}

.mlm-cancha-paddle:before{content:'\e81f'}

.mlm-cancha-polo:before{content:'\e820'}

.mlm-cancha-rugby:before{content:'\e821'}

.mlm-cancha-squash:before{content:'\e822'}

.mlm-cancha-tenis:before{content:'\e823'}

.mlm-cancha-volley:before,
.mlm-cancha-voley:before{content:'\e824'}

.mlm-canchas-deportivas:before{content:'\e825'}

.mlm-centro-medico:before{content:'\e826'}

.mlm-cerramiento-ptral:before{content:'\e827'}

.mlm-cerramiento:before{content:'\e828'}

.mlm-club-house-mayores:before,
.mlm-clubhouse:before{content:'\e829'}

.mlm-club-house-ninos:before{content:'\e82a'}

.mlm-cocina:before{content:'\e82b'}

.mlm-comedor-diario:before{content:'\e82d'}

.mlm-comedor:before{content:'\e82e'}

.mlm-dependencia-servicio:before{content:'\e830'}

.mlm-deposito:before{content:'\e831'}

.mlm-desague-cloacal:before{content:'\e832'}

.mlm-dormitorio-servicio:before{content:'\e833'}

.mlm-dormitorio-suite:before{content:'\e834'}

.mlm-entrepiso:before{content:'\e835'}

.mlm-escritorio:before{content:'\e836'}

.mlm-escuela-deportiva:before{content:'\e837'}

.mlm-espacios-deportivos:before{content:'\e838'}

.mlm-estacionamiento:before,
.mlm-valet-parking:before,
.mlm-estacionamiento-cortesia:before{content:'\e839'}

.mlm-estar:before{content:'\e83a'}

.mlm-estufa-lena:before{content:'\e83b'}

.mlm-fondo:before{content:'\e83c'}

.mlm-fuerza-motriz:before{content:'\e83d'}

.mlm-garaje:before,
.mlm-cocheras-opcionales:before{content:'\e83e'}

.mlm-gas-caneria:before{content:'\e83f'}

.mlm-gas-envasado:before{content:'\e840'}

.mlm-gas-industrial:before{content:'\e841'}

.mlm-gas-natural:before{content:'\e842'}

.mlm-gimnasio:before,
.mlm-gym:before,
.mlm-fitness-center:before{content:'\e843'}

.mlm-grua:before{content:'\e844'}

.mlm-grupo-electrogeno:before{content:'\e845'}

.mlm-hall:before{content:'\e847'}

.mlm-heladera:before{content:'\e848'}

.mlm-hidromasaje:before{content:'\e849'}

.mlm-hogar:before{content:'\e84a'}

.mlm-instalacion-parrilla:before{content:'\e84b'}

.mlm-internet:before,
.mlm-zona-wifi:before{content:'\e84c'}

.mlm-jacuzzi:before{content:'\e84d'}

.mlm-kitchenette:before{content:'\e84f'}

.mlm-laundry:before{content:'\e850'}

.mlm-lavadero:before{content:'\e851'}

.mlm-lavanderia:before{content:'\e852'}

.mlm-linea-telefonica:before{content:'\e855'}

.mlm-living-comedor:before{content:'\e856'}

.mlm-living:before{content:'\e857'}

.mlm-losa-radiante:before{content:'\e858'}

.mlm-luz-electrica:before{content:'\e859'}

.mlm-luz:before{content:'\e85a'}

.mlm-microondas:before{content:'\e85b'}

.mlm-montacarga:before{content:'\e85c'}

.mlm-motores:before{content:'\e85d'}

.mlm-oficinas:before,
.mlm-business-center:before,
.mlm-centro-negocios:before{content:'\e85e'}

.mlm-parrilla:before{content:'\e85f'}

.mlm-parque:before{content:'\e860'}

.mlm-parrillero:before{content:'\e861'}

.mlm-patio:before{content:'\e862'}

.mlm-pavimento:before{content:'\e863'}

.mlm-perimetral:before,
.mlm-rejas:before{content:'\e864'}

.mlm-permite-mascotas:before{content:'\e865'}

.mlm-piscina-abierta:before,
.mlm-piscina-resort:before{content:'\e866'}

.mlm-piscina-cubierta:before,
.mlm-edificio-piscina:before{content:'\e867'}

.mlm-piscina:before{content:'\e868'}

.mlm-pista-equitacion:before,
.mlm-caballerizas:before{content:'\e869'}

.mlm-placard-cocina:before{content:'\e86a'}

.mlm-placard-dormitorio:before{content:'\e86b'}

.mlm-plaza-maniobras:before{content:'\e86e'}

.mlm-porteria:before{content:'\e86f'}

.mlm-portero-electrico:before{content:'\e870'}

.mlm-porton:before{content:'\e871'}

.mlm-puerta-blindada:before,
.mlm-acceso-tarjeta-magnetica:before,
.mlm-acceso-tarjeta:before{content:'\e872'}

.mlm-quincho:before{content:'\e873'}

.mlm-restaurante:before{content:'\e874'}

.mlm-sala-juegos:before,
.mlm-sala-juegos-ninos:before{content:'\e875'}

.mlm-sala-reuniones:before,
.mlm-sala-coworking:before{content:'\e876'}

.mlm-salon-uso-comun:before{content:'\e877'}

.mlm-saneamiento:before{content:'\e879'}

.mlm-sauna:before{content:'\e87a'}

.mlm-seguridad:before,
.mlm-seguridad-24-hs:before,
.mlm-seguridad-24hs:before,
.mlm-camaras-seguridad:before,
.mlm-circuito-cerrado-tv:before{content:'\e87b'}

.mlm-servicio-limpieza:before,
.mlm-servicio-mucamas:before,
.mlm-conserjeria:before{content:'\e87c'}

.mlm-sistema-riego:before{content:'\e87d'}

.mlm-sotano:before{content:'\e87f'}

.mlm-spa:before{content:'\e880'}

.mlm-sum:before{content:'\e881'}

.mlm-tanque-agua:before,
.mlm-termotanque:before,
.mlm-deck-duchas:before{content:'\e882'}

.mlm-tanque-incendio:before{content:'\e883'}

.mlm-terraza-principal:before{content:'\e885'}

.mlm-terraza-servicio:before{content:'\e886'}

.mlm-terraza:before{content:'\e887'}

.mlm-toilette:before{content:'\e888'}

.mlm-trifasica:before{content:'\e889'}

.mlm-tv-cable:before{content:'\e88a'}

.mlm-vestidor:before{content:'\e88b'}

.mlm-video-cable:before{content:'\e88d'}

.mlm-video-club:before{content:'\e88e'}

.mlm-vigilancia:before{content:'\e88f'}

.mlm-vivienda:before,
.mlm-vivienda-interes-social:before{content:'\e890'}

.mlm-wifi:before,
.mlm-wi-fi:before{content:'\e891'}

.mlm-lavavajillas:before{content:'\e892'}

.mlm-calefon:before{content:'\e893'}

.mlm-solarium:before{content:'\e894'}

.mlm-jardin:before,
.mlm-parque-interno:before,
.mlm-espacios-verdes:before{content:'\e895'}

.mlm-guarderia:before{content:'\e896'}

.mlm-baulera:before{content:'\e897'}

.mlm-salon-usos-multiples:before{content:'\e898'}

.mlm-vestuarios:before{content:'\e899'}

.mlm-bombeador:before{content:'\e89a'}

.mlm-conexion-internet:before{content:'\e89b'}

.mlm-lavarropas:before{content:'\e89c'}

.mlm-colegio:before{content:'\e89d'}

.mlm-plaza-juegos:before,
.mlm-area-juegos-ninos:before{content:'\e89e'}

.mlm-playroom:before,
.mlm-microcine:before{content:'\e89f'}

.mlm-telefono:before{content:'\e8a0'}

.mlm-check:before{
    content:'';
    width: 8px;
    height: 14px;
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    z-index: 2;
}

:root{--colorprific:#656565;--sombrabtn:#6be1e8;--sombrabtnwsp:#62f398}

