footer.footer
    .container
        .row
            .col-24
                a.footer__logo(href="/")
                    img(src="/images/logo.png")
            .col-24
                .footer__wrapper
                    .footer__container
                        p.footer__text Maluma Constructora - Inmobiliaria conforma una<br>empresa de servicios inmobiliarios integrales con<br>más de 80 años de trayectoria en el mercado de<br>bienes raíces, en la zona oeste y aledaña de la<br>capital
                        ul.footer__social
                            li.footer__social-item
                                a(href="#")
                                    i.fa.fa-instagram
                            li.footer__social-item
                                a(href="#")
                                    i.fa.fa-facebook
                            li.footer__social-item
                                a(href="#")
                                    i.fa.fa-whatsapp
                    .footer__container
                        ul.footer__list
                            li.footer__item
                                a(href="/venta") Venta
                            li.footer__item
                                a(href="/alquileres") Alquileres
                            li.footer__item
                                a(href="/tasaciones") tasaciones
                            li.footer__item
                                a(href="/quienes-somos") quiénes somos
                            li.footer__item
                                a(href="/contacto") contacto
                    .footer__container
                        .footer__group
                            .footer__address
                                i.fa.fa-map-marker
                                p.footer__group-text Cosquín 86. C.P. C1408GIB<br>Ciudad de Buenos Aires<br>Argentina.
                            .footer__phones
                                i.fa.fa-mobile
                                .footer__group-wrapper
                                    a.footer__group-text(href="tel:4641-4702") 4641-4702
                                    a.footer__group-text(href="tel:4641-4246") 4641-4246
                                    a.footer__group-text(href="tel:4644-0337") 4644-0337
                            .footer__mail
                                i.fa.fa-envelope-o
                                a.footer__group-text(href="mailto:malumapropiedades@gmail.com" target="_blank") malumapropiedades@gmail.com
                                


    .footer__copyright
        p MALUMA 2019 - Derechos reservados