extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

include ../_modules/propiedad/propiedad
include ../_modules/loading-screen/loading-screen
include ../_modules/pagination/pagination

block content
  +loading-screen
  
  main.alquiler
    .container
      .row
        .col-24
          h2.alquiler__title Propiedades en alquiler
        .col-24
          .alquiler__filtros
            .alquiler__filtros__wrapper
              .alquiler__filtros__group
                .alquiler__filtros__text Ordenar por:
                select.alquiler__filtros__sort
                  option Mayor Precio
                  option Menor Precio
                  option filtro 3
                  option filtro 4
                  option filtro 5
              .alquiler__filtros__group
                button.alquiler__filtros__filter-icon
                  i.fa.fa-filter
                .alquiler__filtros__options
                  select.alquiler__filtros__select.-js-inmueble
                    option Tipo de inmueble

                  //- select.alquiler__filtros__select
                  //-   option Operación
                  //-   option Operación 1
                  //-   option Operación 2
                  //-   option Operación 3
                  //-   option Operación 4
                  //-   option Operación 5

                  select.alquiler__filtros__select.-js-barrios
                    option(selected disabled hidden) Barrio
                    //- option Barrio 1
                    //- option Barrio 2
                    //- option Barrio 3
                    //- option Barrio 4
                    //- option Barrio 5

                  select.alquiler__filtros__select
                    option Ambientes
                    option 1 Ambiente
                    option 2 Ambientes
                    option 3 Ambientes
                    option 4+ Ambientes

                  .alquiler__filtros__radiobox
                    .alquiler__filtros__radiobox-title Cochera
                    .alquiler__filtros__radiobox-group
                      input.alquiler__filtros__radiobox-input(type="radio" id="radio1" name="radio")
                      label.alquiler__filtros__radiobox-label(for="radio1") Si
                    .alquiler__filtros__radiobox-group
                      input.alquiler__filtros__radiobox-input(type="radio" id="radio2" name="radio")
                      label.alquiler__filtros__radiobox-label(for="radio2") No

                  select.alquiler__filtros__select
                    option Amenities
                    option Amenitie 1
                    option Amenitie 2
                    option Amenitie 3
                    option Amenitie 4
                    option Amenitie 5 

                  button.alquiler__filtros__button Aplicar filtros
    section.alquiler__propiedades
      .container
        .row.propiedades__container

        .row
          .col-24
            +pagination