.quienes-somos,
.tasaciones {
    background: $lightestGray;
    padding-bottom: 50px;

    @include mq(md) {
        padding-bottom: 100px;
    }

    &__hero {
        height: 41.5vh;
        display: flex;
        align-items: center;
        // overflow: hidden;
        position: relative;
        
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $black;
            opacity: .5;

            @include mq(md) {
                display: none;
            }
        }

        @include mq(md) {
            height: 80vh;
        }

        &__title {
            color: $white;
            font-size: 40px;
            font-weight: 900;
            position: relative;
            z-index: 2;

            @include mq(md) {
                font-size: 60px;
            }
        }

        &__image {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            img {
                height: auto;
                width: 100%;
            }
        }
    }

    &__details {
        padding-top: 50px;

        @include mq(md) {
            padding-top: 100px;
        }

        &__container {
            box-shadow: 0 5px 20px rgba(0,0,0,.15);
            background: $white;
            // margin-top: -200px;
            padding: 40px 30px 20px;
            margin-bottom: 50px;
            z-index: 2;
            position: relative;

            @include mq(md) {
                margin-bottom: 0;
            }
        }

        &__title {
            color: $blue;
            font-size: 30px;
            margin: 0;
            margin-bottom: 20px;

            @include mq(md) {
                font-size: 40px;
            }
        }

        &__text {
            margin: 0;
            margin-bottom: 20px;
            color: $darkGray;
            line-height: 1.5;

            span {
                color: $blue;
                font-weight: 900;
            }

            strong {
                font-weight: 900;
            }
        }

        &__list {
            margin-bottom: 20px;

            li {
                color: $darkGray;
                margin-bottom: 5px;
            }
        }

        &__form-container {

            @include mq(md) {
                // margin-top: -100px;
            }
        }

        
        &__form-title {
            font-size: 30px;
            margin: 0;
            margin-bottom: 20px;
            text-transform: uppercase;
            text-align: center;
            color: $red;

            @include mq(md) {
                text-align: left;
            }
        }

        &__form-group {
            height: 50px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            position: relative;

            &--select,
            &--select-labeless {
                height: 90px;
                justify-content: flex-end;
            }

            &--select-labeless {
                height: 50px;

                &:after {
                    content: 'a';
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 57px;
                    color: $darkGray;

                    @include mq(md) {
                        left: -19px;
                        bottom: 17px;
                        transform: translateX(0);
                    }
                }

                @include mq(md) {
                    height: 90px;
                }
            }

            &--textarea {
                height: 200px;
            }
        }

        &__form-input {
            height: 100%;
            padding: 20px;
            outline: none;
            color: $darkGray;
            border: 1px solid $midGray;
            width: 100%;
            background: transparent;
        }

        &__form-error {
            @include trans;

            color: $red;
            font-size: 10px;
            position: absolute;
            left: 0;
            top: 15px;
            z-index: -1;
            opacity: 0;
            
            &.-show {
                top: -15px;
                z-index: 1;
                opacity: 1;
            }
        }

        &__form-button {
            @include trans;

            width: 100%;
            height: 100%;
            background: $red;
            border: none;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            display: block;
            color: $white;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            outline: none;
            opacity: 1;
            pointer-events: all;
            
            &:disabled {
                pointer-events: none;
                opacity: .5;
            }

            @include mq(md) {
                width: 40%;
            }

            &:hover {
                background: darken($red, 10%);
            }
        }

        &__slider-container {
            width: 100%;
            box-shadow: 0 5px 20px rgba(0,0,0,.15);

            .propiedad {
                box-shadow: 0;

                &:hover {
                    transform: translateY(0);
                }
            }
        }

        &__slider-title {
            text-align: center;
            color: $white;
            text-transform: capitalize;
            font-size: 24px;
            margin: 0;
            height: 60px;
            background: $blue;
            line-height: 60px;
        }

        .slick-arrow {
            bottom: -70px;
            top: auto;
            transform: translateY(0);
            display: block !important;
        }

        .slick-prev {
            left: 40%;
            transform: translateX(-50%);
        }

        .slick-next {
            left: 60%;
            transform: translateX(-50%);
        }
    }
}

.tasaciones {
    &__hero {
        background: url('/images/hero-tasaciones.jpg') no-repeat center center / cover;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,.3);
        }
    }
}