.quienes-somos {
    background: $lightestGray;
    padding-bottom: 100px;

    &__hero {
        background: url('https://picsum.photos/id/237/1200/1300') no-repeat center center / cover;
        height: 90vh;
        display: flex;
        align-items: center;

        @include mq(md) {
            height: 80vh;
        }

        &__title {
            color: $white;
            font-size: 40px;
            font-weight: 900;

            @include mq(md) {
                font-size: 60px;
            }
        }
    }

    &__details {
        &__container {
            box-shadow: 0 5px 20px rgba(0,0,0,.15);
            background: $white;
            margin-top: -200px;
            padding: 40px 30px 20px;
            margin-bottom: 50px;

            @include mq(md) {
                margin-bottom: 0;
            }
        }

        &__text {
            margin: 0;
            margin-bottom: 20px;
            color: $darkGray;
            line-height: 1.5;

            span {
                color: $blue;
                font-weight: 900;
            }

            strong {
                font-weight: 900;
            }
        }

        &__list {
            margin-bottom: 20px;

            li {
                color: $darkGray;
                margin-bottom: 5px;
            }
        }

        &__slider-container {
            width: 100%;
            margin-left: auto;
            margin-right: auto;

            @include mq(md) {
                margin-top: -100px;
                width: 80%;
            }

            .slick-slide {
                @include mq(md) {
                    padding: 0 20px 20px;
                }
            }
        }

        
        &__slider-title {
            font-size: 30px;
            margin: 0;
            margin-bottom: 20px;
            text-transform: uppercase;
            text-align: center;

            @include mq(md) {
                color: $white;
                text-align: left;
            }
        }

        .slick-dots {
            bottom: -70px;
            left: 0;
            transform: translateX(0);

            @include mq(md) {
                left: 20px;
            }

            li {
                button {
                    &:before {
                        font-size: 20px;
                        color: $blue;
                    }
                }
            }
        }

        &__slider {
            width: 100%;
        }

        &__slide {
            width: 100%;

            .propiedad {
                .slick-prev,
                .slick-next,
                .slick-dots {
                    display: none !important;
                }

                .slick-slide {
                    padding: 0;
                }
            }
        }
    }
}