.venta,
.alquiler,
.emprendimiento {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 100px;

    &__title {
        margin: 0;
        color: $blue;
        font-size: 26px;
        text-transform: uppercase;

        @include mq(md) {
            font-size: 40px;
        }
    }

    &__filtros {
        padding: 50px 0;
        
        @include mq(md) {
            padding: 100px 0;
        }

        &__wrapper {
            display: flex;
            height: 50px;
            justify-content: space-between;
            position: relative;

            @include mq(md) {
                justify-content: initial;
            }
        }

        &__group {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            @include mq(md) {
                width: 15%;
            }

            &:last-child {
                justify-content: initial;
                align-items: center;
                background: $lightGray;
                flex-direction: row;
                width: 50px;
                // padding: 5px 0 5px 0;

                @include mq(md) {
                    // padding: 5px 20px 5px 0;
                    width: 85%;
                }
            }
        }

        &__filter-icon {
            width: 50px;
            height: calc(100% - 10px);
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            border: none;
            outline: none;
            
            @include mq(md) {
                border-right: 1px solid $darkGray;
            }

            i {
                color: $blue;
            }
        }

        &__text {
            font-size: 14px;
            color: $darkestGray;
            font-weight: 900;
            padding-left: 3px;
            margin-bottom: 10px;
        }

        &__sort {
            background: transparent;
            border: none;
            color: $blue;
            outline: none;
            font-weight: 700;
        }

        &__options {
            @include trans;

            flex-grow: 1;
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            background: $lightGray;
            z-index: 2;
            padding: 20px;
            transform: translateX(110%);

            @include mq(md) {
                padding: 0 10px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                position: static;
                opacity: 1;
                top: auto;
                transform: translateX(0);
                height: 100%;
            }

            &.-open {
                transform: translateY(0);
            }
        }

        &__select {
            cursor: pointer;
            
            background: transparent;
            border: none;
            height: 100%;
            outline: none;
            color: $darkestGray;
            font-weight: 700;
            font-size: 14px;
            width: 100%;
            margin-bottom: 20px;
            text-align-last:center;

            @include mq(md) {
                width: auto;
                margin-bottom: 0;
            }
        }

        &__price {
            position: relative;
            width: 80%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: auto;
            margin-left: auto;

            @include mq(md) {
                width: 20%;
                height: 100%;
                margin-right: 20px;
            }

            input[type=range] {
                -webkit-appearance: none;
            }

            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
            }

            input[type=range]:focus {
                outline: none;
            }
        }

        &__price-range {
            @include mq(sm) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &__bar-wrapper {
                position: absolute;
                left: -10px;
                right: -10px;
            }

            &__bar {
                &.original {
                    width: 100%;

                    &::-webkit-slider-runnable-track {
                        height: 5px;
                        background: $blue;
                    }
                }

                &.ghost {
                    width: 100%;

                    // &::-webkit-slider-runnable-track {
                    //     height: 6px;
                    // }
                }

                &::-webkit-slider-thumb {
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    background: $white;
                    cursor: pointer;
                    margin-top: -10px;
                    box-shadow: 1px 2px 2px $midGray;
                }

                &::-webkit-slider-runnable-track {
                    height: 5px;
                    background: $lightGray;
                }
            }

            &__label {
                position: absolute;
                top: -15px;
                width: 0;
                display: flex;
                justify-content: center;

                @include mq(md) {
                    top: -30px;
                }

                span {
                    position: absolute;
                    display: inline-block;
                    height: 25px;
                    line-height: 25px;
                    padding: 0 5px;
                    background: $white;
                    color: $black;
                    text-transform: uppercase;
                    font-weight: 300;
                    font-size: 12px;

                    &:before {
                        content: '';
                        left:50%;
                        transform: translateX(-50%);
                        width: 5px;
                        height: 5px;
                        position: absolute;
                        top: 100%;
                        border-top: 5px solid $white;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                    }
                }
            }

            &__price  {
                display: flex;
                width: 45%;
            }
        }

        &__radiobox {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            justify-content: center;
            height: 40px;

            @include mq(md) {
                margin-bottom: 0;
                margin: 0 20px 0 5px;
                height: 100%;
            }
        }

        &__radiobox-title {
            color: $darkestGray;
            font-size: 14px;
            font-family: sans-serif;
            font-weight: 700;
            margin-right: 10px;
        }

        &__radiobox-group {
            margin-left: 15px;
        }

        &__radiobox-input {
            position: absolute;
            left: -9999px;

            &:checked + label {
                color: $red;

                &:before {
                    opacity: 1;
                }
            }
        }

        &__radiobox-label {
            font-family: sans-serif;
            color: $corpBlack;
            font-size: 14px;
            font-weight: 700;
            position: relative;
            cursor: pointer;

            &:after {
                content: '';
                @include trans;
                position: absolute;
                left: -10px;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                width: 3px;
                height: 7px;
                border-bottom: 2px solid $red;
                border-right: 2px solid $red;
                opacity: 0;
            }
        }

        &__button {
            cursor: pointer;
            border: none;
            background: $red;
            height: 50px;
            width: 100%;
            color: $white;
            font-size: 14px;
            font-weight: 700;

            @include mq(md) {
                height: 70%;
                width: 150px;
            }

            &:hover {
                background: darken($red, 10%);
            }
        }
    }


    &__propiedades {
        &__propiedad {
            margin-bottom: 40px;
        }

        &__container {
            margin-bottom: 40px;
        }

        &__text {
            font-weight: 900;
            text-align: center;
            margin: 0;
            margin-bottom: 100px;
        }
    }
}