extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

include ../_modules/propiedad/propiedad
include ../_modules/pagination/pagination
include ../_modules/loading-screen/loading-screen

block content
  +loading-screen

  main.emprendimientos
    .container
      .row
        .col-24
          h2.emprendimientos__title Emprendimientos 
        //- .col-24
        //-   .emprendimientos__filtros
        //-     .emprendimientos__filtros__wrapper
        //-       .emprendimientos__filtros__group
        //-         .emprendimientos__filtros__text Ordenar por:
        //-         select.emprendimientos__filtros__sort
        //-           option Menor Precio
        //-           option Mayor Precio
        //-           option filtro 3
        //-           option filtro 4
        //-           option filtro 5
        //-       .emprendimientos__filtros__group
        //-         button.emprendimientos__filtros__filter-icon.-js-filter-button
        //-           i.fa.fa-filter
        //-         .emprendimientos__filtros__options.-js-filter-container
        //-           select.emprendimientos__filtros__select.-js-inmueble
        //-             option(selected disabled hidden) Tipo de inmueble

        //-           //- select.emprendimientos__filtros__select
        //-           //-   option Operaci贸n
        //-           //-   option Venta
        //-           //-   option Alquiler
        //-           //-   option Operaci贸n 3
        //-           //-   option Operaci贸n 4
        //-           //-   option Operaci贸n 5

        //-           select.emprendimientos__filtros__select.-js-barrios
        //-             option(selected disabled hidden) Barrio
        //-             //- option Barrio 1
        //-             //- option Barrio 2
        //-             //- option Barrio 3
        //-             //- option Barrio 4
        //-             //- option Barrio 5

        //-           select.emprendimientos__filtros__select.-js-ambientes
        //-             option(selected disabled hidden) Ambientes
        //-             option(value="1 AMBIENTES") 1 Ambiente
        //-             option(value="2 AMBIENTES") 2 Ambientes
        //-             option(value="3 AMBIENTES") 3 Ambientes
        //-             option(value="4 AMBIENTES") 4 Ambientes
        //-             option(value="5 AMBIENTES") 5 Ambientes
        //-             option(value="6 AMBIENTES") 6 Ambientes
        //-             option(value="7 AMBIENTES") 7+ Ambientes

        //-           .emprendimientos__filtros__radiobox
        //-             .emprendimientos__filtros__radiobox-group
        //-               input.emprendimientos__filtros__radiobox-input(type="radio" id="currency1" name="currency")
        //-               label.emprendimientos__filtros__radiobox-label(for="currency1") USD
        //-             //- .emprendimientos__filtros__radiobox-group
        //-             //-   input.emprendimientos__filtros__radiobox-input(type="radio" id="currency2" name="currency")
        //-             //-   label.emprendimientos__filtros__radiobox-label(for="currency2") Pesos

        //-           .emprendimientos__filtros__price
        //-               label.emprendimientos__filtros__price-range__label.js-range-price-low
        //-               label.emprendimientos__filtros__price-range__label.js-range-price-high
        //-               .emprendimientos__filtros__price-range__bar-wrapper
        //-                   input.emprendimientos__filtros__price-range__bar.js-range-price(type='range', multiple, value="0", step="10000" min="0", max="1500000")
        //-                   input(type="hidden", name="from-price", id="inputPriceFrom").-js-minimo
        //-                   input(type="hidden", name="to-price", id="inputPriceTo").-js-maximo


        //-           //- select.emprendimientos__filtros__select.-js-amenities
        //-           //-   option(selected disabled hidden) Amenities
        //-           //-   option Parrilla
        //-           //-   option Pileta
        //-           //-   option Quincho
        //-           //-   option Sala de juegos
        //-           //-   option Patio
        //-           //-   option Gimnasio
        //-           //-   option Jardin
        //-           //-   option SUM
        //-           //-   option Terraza

        //-           button.emprendimientos__filtros__button.-js-filtros-submit Aplicar filtros
    section.emprendimientos__propiedades
      .container
        .row.emprendimientos__propiedades__container

        .row
          .col-24
            +pagination