header.header
    .container
        .row
            .col-24
                .header__container
                    a.header__logo(href="/")
                        img(src="/images/logo.png")
                    .header__wrapper
                        ul.header__social
                            li.header__social-item
                                a(href="https://www.instagram.com/malumainmobiliaria/" target="_blank")
                                    i.fa.fa-instagram
                            li.header__social-item
                                a(href="https://www.facebook.com/malumainmobiliaria/" target="_blank")
                                    i.fa.fa-facebook
                            li.header__social-item
                                a(href="tel:1136736569" target="_blank")
                                    i.fa.fa-whatsapp
                        nav.header__list
                            li.header__item
                                a(href="/venta?page=1") Venta
                            li.header__item
                                a(href="/alquiler?page=1") Alquileres
                            li.header__item
                                a(href="/tasaciones") tasaciones
                            li.header__item
                                a(href="/quienes-somos") quiénes somos
                            li.header__item
                                a(href="/contacto") contacto
                        .header__hamburguer
                            span
                            span
                            span