header.header
    .container
        .row
            .col-24
                .header__container
                    a.header__logo(href="/")
                        img(src="/images/logo.png")
                    .header__wrapper
                        ul.header__social
                            li.header__social-item
                                a(href="https://www.instagram.com/malumainmobiliaria/" target="_blank")
                                    i.fa.fa-instagram
                            li.header__social-item
                                a(href="https://www.facebook.com/malumainmobiliaria/?__tn__=%2Cd%2CP-R&eid=ARDd-SESBFvJz3fz2sh2qxlFc2icHrnFXLQtYRgIVQ0izOLWhzpnXArAXm4Kk1cgnC1f3hSGdvA7sd9C" target="_blank")
                                    i.fa.fa-facebook
                            li.header__social-item
                                a(href="https://api.whatsapp.com/send?phone=541136736569" target="_blank")
                                    i.fa.fa-whatsapp
                        nav.header__list
                            li.header__item
                                a(href="/venta/index.html?page=1") Venta
                            li.header__item
                                a(href="/alquiler/index.html?page=1") Alquileres
                            li.header__item
                                a(href="/tasaciones/index.html") tasaciones
                            li.header__item
                                a(href="/quienes-somos/index.html") quiénes somos
                            li.header__item
                                a(href="/contacto/index.html") contacto
                        .header__hamburguer
                            span
                            span
                            span