mixin pagination(spec)
  .pagination
    .pagination__controls
      a(href="").pagination__button.-js-arrow-left
        i.fa.fa-chevron-left
      ul.pagination__list
      a(href="").pagination__button.-js-arrow-right
        i.fa.fa-chevron-right
