extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

include ../_modules/loading-screen/loading-screen
include ../_modules/slider/slider

block content
  +loading-screen

  main.propiedad-detalle.-js-propiedad-detalle
    .container
      .row
        .col-24.col-md-14
          .row
            .col-24
              .propiedad-detalle__heading
                .propiedad-detalle__heading__group
                  span.propiedad-detalle__heading__type.-js-type
                  p.propiedad-detalle__heading__type-description.-js-description
                .propiedad-detalle__heading__group
                  p.propiedad-detalle__heading__address.-js-address
                .propiedad-detalle__heading__group
                  .propiedad-detalle__heading__details-group
                    .propiedad-detalle__heading__details-image
                      img(src="/images/square-meter-icon.png")
                    span.-js-size
                    span m2
                  .propiedad-detalle__heading__details-group
                    .propiedad-detalle__heading__details-image
                      i.fa.fa-bed
                    span.-js-rooms
                  .propiedad-detalle__heading__details-group
                    .propiedad-detalle__heading__details-image
                      i.fa.fa-bath
                    span.-js-bathrooms
                    span &nbsp;baños

            .col-24
              .propiedad-detalle__main-image

        .col-24.col-md-10
          .row
            .col-24
              .propiedad-detalle__heading.propiedad-detalle__heading--price
                span.propiedad-detalle__heading__price.-js-price
            .col-24
              .propiedad-detalle__form-container
                form.propiedad-detalle__form
                  h4.propiedad-detalle__form__title contacto
                  .propiedad-detalle__form__group
                    input.propiedad-detalle__form__input(placeholder="Nombre*" required).-js-property-contact-nombre
                    .propiedad-detalle__form__wrapper
                      label.propiedad-detalle__form__error Direccion de e-mail incorrecta
                      input.propiedad-detalle__form__input(placeholder="Email*" required).-js-property-contact-mail
                    input.propiedad-detalle__form__input(placeholder="Teléfono*" required).-js-property-contact-telefono
                    textarea(placeholder="Mensaje*" required).propiedad-detalle__form__input.propiedad-detalle__form__input--textarea.-js-property-contact-mensaje
                    p.propiedad-detalle__form__required *Todos los campos son requieridos
                    button.propiedad-detalle__form__button.-js-property-contact-submit-button(disabled) Enviar

        .col-24
          .propiedad-detalle__social-container
            ul.propiedad-detalle__social
              li.propiedad-detalle__item
                a(href="#")
                  i.fa.fa-facebook

              li.propiedad-detalle__item
                a(href="#")
                  i.fa.fa-whatsapp
              li.propiedad-detalle__item
                a(href="#")
                  i.fa.fa-instagram
              li.propiedad-detalle__item
                a(href="#")
                  i.fa.fa-envelope
              li.propiedad-detalle__item
                a(href="#")
                  i.fa.fa-print

        .col-24.col-md-14
          .row
            .col-24
              .propiedad-detalle__description
                h3.propiedad-detalle__description__title descripción
                p.propiedad-detalle__description__text.-js-full-description

            .col-24
              .row.propiedad-detalle__details__row-container
                .col-24
                  .propiedad-detalle__details
                    .propiedad-detalle__details__heading
                      button.propiedad-detalle__details__tab(data-target="detalles") detalles
                      button.propiedad-detalle__details__tab(data-target="caracteristicas") caracteristicas
                      button.propiedad-detalle__details__tab(data-target="medidas") medidas
                .col-24.propiedad-detalle__details__content(data-content="detalles")
                  .propiedad-detalle__details__wrapper
                    .row.propiedad-detalle__details__container.-js-detalles-container

                .col-24.propiedad-detalle__details__content(data-content="caracteristicas")
                  .propiedad-detalle__details__wrapper
                    .row.propiedad-detalle__details__container.-js-caracteristicas-container

                .col-24.propiedad-detalle__details__content(data-content="medidas")
                  .propiedad-detalle__details__wrapper
                    .row.propiedad-detalle__details__container.-js-medidas-container

        .col-24.col-md-10
          .propiedad-detalle__others.-js-other-properties
            h3.propiedad-detalle__others__title Otras propiedades en venta
            //- .propiedad-detalle__others__image
            //-   img(src="https://picsum.photos/id/239/300/300")
            //- .propiedad-detalle__others__image
            //-   img(src="https://picsum.photos/id/238/300/300")
            //- .propiedad-detalle__others__image
            //-   img(src="https://picsum.photos/id/237/300/300")
            //- .propiedad-detalle__others__image
            //-   img(src="https://picsum.photos/id/236/300/300")
            //- .propiedad-detalle__others__image
            //-   img(src="https://picsum.photos/id/235/300/300")
            //- .propiedad-detalle__others__image
            //-   img(src="https://picsum.photos/id/234/300/300")
            //- .propiedad-detalle__others__image
            //-   img(src="https://picsum.photos/id/233/300/300")
            //- .propiedad-detalle__others__image
            //-   img(src="https://picsum.photos/id/232/300/300")
